@model QLKyTucXa.Models.DangNhapModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link href="~/Assets/admin/boostrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Assets/admin/css/reset.css" rel="stylesheet" />
    <link href="~/Assets/admin/css/login.css" rel="stylesheet" />
    <title>Đăng nhập cho sinh viên</title>
</head>
<body>
    <div class="containers">
        <div class="header">
            <img class="header__logo" src="~/Assets/admin/img/logo_hufi.png" />
            <h3 class="header__title header__title-first">KÍ TÚC XÁ</h3>
            <h3 class="header__title">TRƯƠNG ĐẠI HỌC CÔNG NGHIỆP THỰC PHẨM</h3>
        </div>
        <div class="content">
            <div class="content__header">
                <p class="content__title">Hệ Thống Quản Lý</p>
                <p class="content__title content__title-second">KÍ TÚC XÁ THÔNG MINH</p>
            </div>
            @using (Html.BeginForm("DangNhap", "DangNhap", FormMethod.Post))
            {

                <table class="content__tablelogin">
                    <tr>
                        <td>
                            <img class="content__iclogin" src="~/Assets/admin/img/ic_login.png">
                        </td>
                        <td>
                            <table class=" content__tablelogin-control">
                                <tr>
                                    <td>Mã sinh viên: </td>
                                    <td>

                                        @Html.TextBoxFor(model => model.IDSinhVien, new { @autofocus = "autofocus", @placeholder = "Nhập mã sinh viên" })
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td>Mật khẩu: </td>
                                    <td>

                                        @Html.PasswordFor(model => model.MatKhau, new { @placeholder = "Nhập mật khẩu" })
                                       
                                    </td>


                                </tr>
                                <tr>
                                    <td colspan="2"></td>
                                    
                                </tr>
                                <tr>
                                    <td></td>
                                    <td class="content__tablelogin-btn">
                                        <button type="submit" class="content__btnlogin">Đăng nhập</button>
                                    </td>
                                </tr>
                            </table>
                        </td>

                    </tr>
                    <tr>
                        <td colspan="2" style="text-align:left;">


                            @Html.ValidationSummary(false, "", new { @class = "content__error" })


                        </td>
                    </tr>

                </table>

            }
        </div>
    </div>
</body>
</html>


